<a href="https://colab.research.google.com/github/alfiyah0813/PhytonXIR3/blob/main/Latihan_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# cast from str to int
str_numbers = "456"
str_numbers_to_int = int(str_numbers)
print("Before casting :", str_numbers, ", the data type is",
type(str_numbers))
print("After casting :", str_numbers_to_int, ", the data type is",
type(str_numbers_to_int))

Before casting : 456 , the data type is <class 'str'>
After casting : 456 , the data type is <class 'int'>

In [ ]:
# casting from int to str
integer = 12345
integer_to_str = str(integer)
print("Before casting :", integer, ", the data type is", type(integer))
print("After casting :", integer_to_str, ", the data type is",
type(integer_to_str))

Before casting : 12345 , the data type is <class 'int'>
After casting : 12345 , the data type is <class 'str'>

In [ ]:
# casting from int to bool
num_int = 1
num_bool = bool(num_int)
print(num_bool, type(num_bool))
num_int = 0
num_bool = bool(num_int)
print(num_bool, type(num_bool))

True <class 'bool'>
False <class 'bool'>

In [ ]:
# Equal to
3 == 8
# Not equal to
4 != 9
# Greater than
23 > 9
# Less than
7 < 9
# Less than
9 <= 9
# Less than
10 >= 9

True

In [ ]:
a = False
b = True
print(a and b)
print(a or b)
print(not b)
#logic
13 > 6 and 3 < 7

False
True
False

True

In [ ]:
f = 9
j = 13
# Summation
sum = f + j
print(f"The sum of f with j is : {sum}\n")
# Reduction
red = f - j
print(f"The reduction of f with j is : {red}\n")
# Multiplication
multi = f * j
print(f"The multipication of f with j is : {multi}\n")
# Division
divi = f / j
print(f"The quotient of f with j is : {divi}\n")
# Modulo
mod = f % j
print(f"The remainder of f with j is : {mod}\n")
# Power
pow = f ** j
print(f"The power of f of j is : {pow}\n")

The sum of f with j is : 22

The reduction of f with j is : -4

The multipication of f with j is : 117

The quotient of f with j is : 0.6923076923076923

The remainder of f with j is : 9

The power of f of j is : 2541865828329

In [ ]:
name = str(input("What is your name : "))
kelas_siswa = int(input("What's your class : "))
nis_siswa = int(input("What's your NIS : "))

print("Name: ", name)
print("Class: ", kelas_siswa)
print("Nis: ", nis_siswa)

What is your name : fifi
What's your class : 3
What's your NIS : 4
Name:  fifi
Class:  3
Nis:  4

In [ ]:
# normal print
name = 'Alfiyah'
age = 16
print('Hi all! I am', name, 'age', age, 'years old')

# format print (menggunakan f-string)
print(f'Hi all! I am {name} age {age} years old')

# format print (menggunakan operator %)
print('Hi all! I am %s age %d years old' % (name, age))

# format output
print(35 * "=")
print("Temperature Calculator Program")
print(35 * "=")

Hi all! I am Alfiyah age 16 years old
Hi all! I am Alfiyah age 16 years old
Hi all! I am Alfiyah age 16 years old
===================================
Temperature Calculator Program
===================================

In [ ]:
#using match case
try:
    your_GPA = float(input("Enter your GPA: "))
    if 4.0 >= your_GPA >= 0.0:
        if 4.0 >= your_GPA >= 3.80:
            print(f"Damn you've got a magna cumlaude with your {your_GPA} GPA")
        elif 3.50 <= your_GPA < 3.80:
            print(f"Cool!! You've got a cumlaude with your {your_GPA} GPA")
        elif 3.00 <= your_GPA < 3.50:
            print(f"You've got a stable GPA tho")
        elif your_GPA < 3.0:
            print(f"You need a stable GPA")
    else:
        print(f"Sorry, your GPA {your_GPA} is out of range and invalid")
except ValueError:
    print("Please enter a valid GPA")

Enter your GPA: 4.0
Damn you've got a magna cumlaude with your 4.0 GPA

In [ ]:
# using match case
try:
    status_code = int(input("Enter your status code: "))
    print("Your code means")
    match status_code:
        case 200:
            print("Success!")
        case 400:
            print("Bad Request")
        case 401:
            print("Unauthorized")
        case 402:
            print("Payment Required")
        case 403:
            print("Forbidden")
        case 404:
            print("Not Found")
        case 500:
            print("Internal Server Error")
        case _:
            print("Unknown status code")
except ValueError:
    print("Please enter a valid status code")

Enter your status code: 700
Your code means
Unknown status code

In [ ]:
#Ternary
a = 4
b = "Even Numbers" if a % 2 == 0 else "Odd Numbers"
print(b)

Even Numbers

In [ ]:
# normal for loop
for i in range(3):
    print(i)

# For loop dengan range
for i in range(3):
    print("Data science is easy!")

print(3 * "=")

for i in range(1, 5, 2):
    print("Data science is easy!")

0
1
2
Data science is easy!
Data science is easy!
Data science is easy!
===
Data science is easy!
Data science is easy!

In [ ]:
word = "Alfiyah fadantya zahra cantik se NKRI"
for letter in word:
    print(letter, end='')

Alfiyah fadantya zahra cantik se NKRI

In [ ]:
# You can use it with enumerate function
word = "fifi cantik se NKRI"
for m, n in enumerate(word):
    print(f"Index {m}. {n}")

Index 0. f
Index 1. i
Index 2. f
Index 3. i
Index 4.
Index 5. c
Index 6. a
Index 7. n
Index 8. t
Index 9. i
Index 10. k
Index 11.
Index 12. s
Index 13. e
Index 14.
Index 15. N
Index 16. K
Index 17. R
Index 18. I

In [ ]:
# It can go backwards
for i in range(4, 2, -1):
    print("haloo nama ku fifi")

haloo nama ku fifi
haloo nama ku fifi

In [ ]:
#Keyword control
for i in range(5):
    if i == 5:
        continue # skip this loop when i is equal to 2
    if i == 2:
        break # stops the loop when i is equal to 4
    print(i)

0
1

In [ ]:
#Using while loop
count = 0
while count < 4:
    print("Tetap Semangat Meraih Masa Depan")
    count += 1

Tetap Semangat Meraih Masa Depan
Tetap Semangat Meraih Masa Depan
Tetap Semangat Meraih Masa Depan
Tetap Semangat Meraih Masa Depan